<link href="css/card-view.css" rel="stylesheet">
<ion-view>
    <ion-nav-title ng-bind="card.name"></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon" ng-click="editCard(card)"><i class="fa fa-pencil fa-lg"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <form class="list" ng-submit="saveCard(card)">
            <label class="item item-input">
                <span class="input-label">Card Holder</span>
                <input placeholder="Card Holder" type="text" ng-model="card.data.name" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Card Number</span>
                <input placeholder="Card Number" type="text" ng-model="card.data.eznumber" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Good Thru</span>
                <input placeholder="Good Thru" type="text" ng-model="card.data.goodthru" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">CSV Code</span>
                <input placeholder="CSV Code" type="number" ng-model="card.data.csv" readonly>
            </label>
                
            <label class="item item-input ">
                <span class="input-label">Billing Address</span>
                <textarea rows="{{rows}}" ng-model="card.data.address" readonly></textarea>
            </label>
            
            <label class="item item-input" ng-hide="card.data.pin == null">
                <span class="input-label">PIN Number</span>
                <input placeholder="PIN Number (optional)" type="number" ng-model="card.data.pin" readonly>
            </label>
        </form>
    </ion-content>
</ion-view>