<link href="css/card-edit.css" rel="stylesheet">
<ion-view>
    <ion-nav-title ng-bind="card.name"></ion-nav-title>
    <ion-content>
        <form class="list" ng-submit="saveCard(card)">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input placeholder="Name" type="text" ng-model="card.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Card Holder</span>
                <input placeholder="Card Holder" type="text" ng-model="card.data.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Card Number</span>
                <input placeholder="Card Number" type="number" ng-model="card.data.number">
            </label>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label item-nested">
                        <span class="input-label">Month</span>
                        <input placeholder="MM" type="number" ng-model="card.data.expiration.month">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label item-nested">
                        <span class="input-label">Year</span>
                        <input placeholder="YYYY" type="number" ng-model="card.data.expiration.year">
                    </label>
                </div>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input placeholder="Address" type="text" ng-model="card.data.billing.address1">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input placeholder="Address" type="text" ng-model="card.data.billing.address2">
            </label>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label item-nested">
                        <span class="input-label">City</span>
                        <input placeholder="City" type="text" ng-model="card.data.billing.city">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label item-nested">
                        <span class="input-label">State</span>
                        <input placeholder="State" type="text" ng-model="card.data.billing.state">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label item-nested">
                        <span class="input-label">Zip Code</span>
                        <input placeholder="Zip Code" type="text" ng-model="card.data.billing.zip">
                    </label>
                </div>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">CSV Code</span>
                <input placeholder="CSV Code" type="number" ng-model="card.data.csv">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">PIN Number</span>
                <input placeholder="PIN Number (optional)" type="number" ng-model="card.data.pin">
            </label>
            <div class="padding">
                <p class="message" ng-show="message" ng-bind="message"></p>
                <input type="submit" class="button button-positive button-block" value="Save">
            </div>
            <div class="padding" ng-show="action == 'update'">
                <a class="button button-assertive button-block" ng-click="deleteCard(card)">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>