<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <a class="button button-icon icon" menu-toggle="left"><i class="fa fa-bars fa-lg"></i></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-repeat="item in menu" ng-click="item.onClick()" ng-bind="item.title"></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>