<link href="css/password-generator.css" rel="stylesheet">
<ion-view hide-back-button=true>
    <ion-nav-title>Password Generator</ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button button-icon icon" menu-toggle="left"><i class="fa fa-bars fa-lg"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <form class="list" ng-submit="generate()">
            <label class="item item-input" ng-click="copy(password)">
                <input class="text-center" type="text" ng-model="password" placeholder="P45SW0RD" readonly />
            </label>
            <label class="item range range-positive">
                <span class="input-label">Length: {{configuration.length}}</span> 
                <input type="range" min="4" max="48" value="12" step="1" ng-model="configuration.length" ng-change="generate()" />
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-model="configuration.useLowercase" ng-change="generate()">Lowercase</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="configuration.useUppercase" ng-change="generate()">Uppercase</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="configuration.useNumeric" ng-change="generate()">Numeric</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="configuration.useSpecial" ng-change="generate()">Special</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="configuration.useAmbiguous" ng-change="generate()">Ambiguous</ion-toggle>
            <div class="padding">
                <p class="message" ng-show="message" ng-bind="message"></p>
                <input type="submit" class="button button-positive button-block" value="Generate Password">
            </div>
        </form>
    </ion-content>
</ion-view>