<link href="css/portal.css" rel="stylesheet">
<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title text-center">Portal</h1>
    </ion-header-bar>
    <ion-content>
        <form class="list" ng-submit="submit(credentials, action)">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input placeholder="Username" type="text" ng-model="credentials.username">
            </label>
            <label class="item item-input item-floating-label" ng-hide="action == 'Recover'">
                <span class="input-label">Password</span>
                <input placeholder="Password" type="password" ng-model="credentials.password">
            </label>
            <label class="item item-input item-floating-label" ng-show="action == 'Register'">
                <span class="input-label">Confirm Password</span>
                <input placeholder="Confirm Password" type="password" ng-model="credentials.passwordConfirmation">
            </label>
            <label class="item item-input item-floating-label" ng-show="action == 'Register'">
                <span class="input-label">Email Address</span>
                <input placeholder="Email Address" type="email" ng-model="credentials.email">
            </label>
            <div class="padding">
                <p class="message" ng-show="message" ng-bind="message"></p>
                <input type="submit" class="button button-positive button-block" ng-value="action">
                <div class="row">
                    <div class="col" ng-hide="action == 'Login'">
                        <a class="button button-positive button-block button-clear" ng-click="action = 'Login'">Back to Login</a>
                    </div>
                    <div class="col" ng-show="action == 'Login'">
                        <a class="button button-positive button-block button-clear" ng-click="action = 'Register'">Sign Up</a>
                    </div>
                    <div class="col" ng-show="action == 'Login'">
                        <a class="button button-positive button-block button-clear" ng-click="action = 'Recover'" disabled>Forgot Password</a>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>