<link href="css/site-view.css" rel="stylesheet">
<ion-view>
    <ion-nav-title ng-bind="site.name"></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon" ng-click="editSite(site)"><i class="fa fa-pencil fa-lg"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <form class="list">
            <div ng-show="site.data.token.enabled">
                <div ng-show="site.data.token.type == 'TOTP'">
                    <h1 class="positive text-center token-code" ng-bind="tokenCode"></h1>
                    <progress max={{progressMax}} value={{progressValue}}></progress>    
                </div>
                <div ng-show="site.data.token.type == 'HOTP'">
                    <h1 class="positive text-center token-code" ng-bind="tokenCode" ng-click="tickCounter()"></h1>
                    <div class="spacer-21"></div>
                </div>
            </div>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-value="site.data.username" readonly />
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" ng-value="site.data.password" readonly />
            </label>
        </form>
    </ion-content>
</ion-view>