<link href="css/site-edit.css" rel="stylesheet">
<ion-view>
    <ion-nav-title ng-bind="site.name"></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-qr-scanner" ng-show="site.data.token.enabled" ng-click="scanQR()"></a>
    </ion-nav-buttons>
    <ion-content>
        <form class="list" ng-submit="saveSite(site)">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input placeholder="Name" type="text" ng-model="site.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input placeholder="Username" type="text" ng-model="site.data.username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input placeholder="Password" type="password" ng-model="site.data.password">
            </label>
            <ion-toggle ng-model="site.data.token.enabled" toggle-class="toggle-positive">2-Steps Authentication</ion-toggle>
            <div ng-show="site.data.token.enabled">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span> 
                </label>
                <div class="row">
                    <ion-radio class="col" name="site.data.token.type" ng-model="site.data.token.type" ng-value="'TOTP'">TOTP</ion-radio>
                    <ion-radio class="col" name="site.data.token.type" ng-model="site.data.token.type" ng-value="'HOTP'">HOTP</ion-radio>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Secret</span>
                    <input placeholder="Secret" type="text" ng-model="site.data.token.secret">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Algorithm</span> 
                </label>
                <div class="row">
                    <ion-radio class="col" name="site.data.token.algorithm" ng-model="site.data.token.algorithm" ng-value="'MD5'" disabled=true>MD5</ion-radio>
                    <ion-radio class="col" name="site.data.token.algorithm" ng-model="site.data.token.algorithm" ng-value="'SHA1'">SHA1</ion-radio>
                </div>
                <div class="row">
                    <ion-radio class="col" name="site.data.token.algorithm" ng-model="site.data.token.algorithm" ng-value="'SHA256'">SHA256</ion-radio>
                    <ion-radio class="col" name="site.data.token.algorithm" ng-model="site.data.token.algorithm" ng-value="'SHA512'">SHA512</ion-radio>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Digits</span>
                    <input placeholder="Secret" type="number" ng-model="site.data.token.digits">
                </label>
                <label class="item item-input item-stacked-label" ng-show="site.data.token.type == 'TOTP'">
                    <span class="input-label">Period</span>
                    <input placeholder="Secret" type="text" ng-model="site.data.token.period">
                </label>
                <label class="item item-input item-stacked-label" ng-show="site.data.token.type == 'HOTP'">
                    <span class="input-label">Counter</span>
                    <input placeholder="Secret" type="text" ng-model="site.data.token.counter">
                </label>
            </div>
            <div class="padding">
                <p class="message" ng-show="message" ng-bind="message"></p>
                <input type="submit" class="button button-positive button-block" value="Save">
            </div>
            <div class="padding" ng-show="action == 'update'">
                <a class="button button-assertive button-block" ng-click="deleteSite(site)">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>