<link href="css/vault.css" rel="stylesheet">
<ion-view hide-back-button=true>
    <ion-nav-title>Vault</ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button button-icon icon" menu-toggle="left"><i class="fa fa-bars fa-lg"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon" ng-click="add()"><i class="fa fa-plus fa-lg"></i></a>
    </ion-nav-buttons>
    <ion-tabs class="tabs-color-positive">
        <ion-tab title="Sites" on-select="selectTab('sites')">
            <ion-content>
                <ion-refresher on-refresh="fetchSites()"></ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="site in sites" ng-bind="site.name" ng-click="openSite(site)"></ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
        <ion-tab title="Cards" on-select="selectTab('cards')">
            <ion-content>
                <ion-refresher on-refresh="fetchCards()"></ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="card in cards" ng-bind="card.name" ng-click="openCard(card)"></ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>