input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input)
{
    background-color: inherit;
    cursor: pointer;
}

textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}