.item-radio {
    border: 0;
}

.item-radio input:checked + .radio-content .item-content {
    background-color: transparent;
}

.ion-checkmark:before {
    content: "";
}

.item-radio[disabled="disabled"] span {
    opacity: 0.4;
}