progress[value]
{
    -webkit-appearance: none;
    width: 280px;
    margin-top: 0px;
    height: 6px;
}

progress[value]::-webkit-progress-value
{
    background-color: #387ef5;
}

.token-code
{
    padding-top: 16px;
    margin-bottom: 0px;
    font-size: 56px;
}

input[readonly]:not(.cloned-text-input)
{
    background-color: inherit;
    cursor: pointer;
}

.spacer-21 {
    height: 21px;
}